.table {
    width: 100%;
    border-collapse: collapse;
}
  
.table th, table td {
    text-align: center;   /* centers horizontally */
    vertical-align: middle; /* centers vertically */
    padding: 8px;
    border: 1px solid #ddd;
}
